# Libraries (Pandas, Numpy)

In [1]:
import numpy as np
import pandas as pd
pd.options.mode.chained_assignment = None # default='warn' SettingWithCopyWarning

# Data Collection

In [2]:
movies = pd.read_csv('data/dataset/tmdb_5000_movies.csv')
credits = pd.read_csv('data/dataset/tmdb_5000_credits.csv')

In [3]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [4]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

#### Indian movie

In [5]:
in_movies = pd.read_csv('data/dataset/indian_movies_2850.csv')

In [6]:
in_movies

,movie_id,description,language,released,rating,writer,director,cast,genre,name
0,tt5286444,Neerja is the story of the courageous Neerja B...,"[ ""Hindi"" ]",2016-02-19T00:00:00.000Z,7.9,"[ ""Saiwyn Quadras"", ""Sanyukta Shaikh Chawla"" ]","[ ""Ram Madhvani"" ]","[ ""Sonam Kapoor"", ""Shabana Azmi"", ""Yogendra Ti...","[ ""Biography"", ""Drama"", ""Thriller"" ]",Neerja
1,tt4434004,A story that revolves around drug abuse in the...,"[ ""Hindi"", ""Panjabi"" ]",2016-06-17T00:00:00.000Z,7.9,"[ ""Sudip Sharma"", ""Abhishek Chaubey"" ]","[ ""Abhishek Chaubey"" ]","[ ""Alia Bhatt"", ""Shahid Kapoor"", ""Diljit Dosan...","[ ""Crime"", ""Drama"", ""Thriller"" ]",Udta Punjab
2,tt0248126,Yashvardhan Raichand lives a very wealthy life...,"[ ""Hindi"", ""English"", ""Urdu"" ]",2001-12-14T00:00:00.000Z,7.5,"[ ""Karan Johar"", ""Sheena Parikh"" ]","[ ""Karan Johar"" ]","[ ""Amitabh Bachchan"", ""Jaya Bhaduri"", ""Shah Ru...","[ ""Drama"", ""Musical"", ""Romance"" ]",Kabhi Khushi Kabhie Gham...
3,tt0347304,"Naina, an introverted, perpetually depressed g...","[ ""Hindi"", ""Urdu"", ""Gujarati"", ""Panjabi"" ]",2003-11-28T00:00:00.000Z,8.0,"[ ""Niranjan Iyengar"", ""Karan Johar"" ]","[ ""Nikkhil Advani"" ]","[ ""Shah Rukh Khan"", ""Preity Zinta"", ""Saif Ali ...","[ ""Comedy"", ""Drama"", ""Romance"" ]",Kal Ho Naa Ho
4,tt3043252,'Parched' is a story about women set in the he...,"[ ""Hindi"", ""English"" ]",2016-06-17T00:00:00.000Z,7.6,"[ ""Supratik Sen"", ""Leena Yadav"" ]","[ ""Leena Yadav"" ]","[ ""Tannishtha Chatterjee"", ""Radhika Apte"", ""Le...","[ ""Drama"" ]",Parched
...,...,...,...,...,...,...,...,...,...,...
2845,tt0308793,NaN,"[ ""Kannada"" ]",NaN,7.7,[],"[ ""V. Ravichandran"" ]","[ ""V. Ravichandran"", ""Kushboo"", ""Anant Nag"", ""...","[ ""Crime"" ]",Ranadheera
2846,tt3006508,NaN,"[ ""Kannada"" ]",2013-02-22,7.7,[],"[ ""Nagashekar"" ]","[ ""Chethan Kumar"", ""Nithya Menon"", ""Sarath Kum...","[ ""Romance"" ]",Myna
2847,tt5348692,The plot is simple. Ranganna (Rangayana Raghu)...,"[ ""Kannada"" ]",2013-11-29,7.7,"[ ""Pc Shekhar"" ]","[ ""Pc Shekhar"" ]","[ ""Rangayana Raghu"", ""Sadhu Kokila"", ""Avinash"" ]","[ ""Comedy"", ""Drama"" ]",Chaddi Dosth
2848,tt3171754,NaN,"[ ""Kannada"" ]",2013-12-27,7.6,[],"[ ""Manju Swaraj"" ]","[ ""Ganesh"", ""Amulya"", ""Anant Nag"", ""Tara"", ""Av...","[ ""Comedy"", ""Romance"" ]",Shravani Subramanya
2849,tt0231455,NaN,"[ ""Kannada"" ]",NaN,7.5,[],"[ ""S.R. Puttana Kanagal"" ]",[],[],Dharmasere

# Data Pre-processing

## Merging Datasets
<br/>
Movies = 20 cols<br/>
Credits = 4 cols<br/>
Join on='Title'<br/>

In [7]:
movies = movies.merge(credits, on='title')

In [8]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

## Filtering Data
**Columns required**

1. genres <br>
2. id <br>
3. keywords (tags) <br>
4. title <br>
5. overview <br>
6. cast <br>
7. crew <br>

In [9]:
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [10]:
print(movies.info())
movies.head(1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4809 non-null   int64
 1   title     4809 non-null   object
 2   overview  4806 non-null   object
 3   genres    4809 non-null   object
 4   keywords  4809 non-null   object
 5   cast      4809 non-null   object
 6   crew      4809 non-null   object
dtypes: int64(1), object(6)
memory usage: 263.1+ KB
None

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

#### Indian movie

In [12]:
in_movies.info(1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2850 entries, 0 to 2849
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   movie_id     2850 non-null   object
 1   description  1752 non-null   object
 2   language     2850 non-null   object
 3   released     2199 non-null   object
 4   rating       2850 non-null   float64
 5   writer       2850 non-null   object
 6   director     2850 non-null   object
 7   cast         2850 non-null   object
 8   genre        2850 non-null   object
 9   name         2850 non-null   object
dtypes: float64(1), object(9)
memory usage: 222.8+ KB

In [14]:
in_movies.rename(columns= {'name':'title', 'description':'overview', 'director':'crew', 'genre':'genres'}, inplace=True)
in_movies.head(1)

,movie_id,overview,language,released,rating,writer,crew,cast,genres,title
0,tt5286444,Neerja is the story of the courageous Neerja B...,"[ ""Hindi"" ]",2016-02-19T00:00:00.000Z,7.9,"[ ""Saiwyn Quadras"", ""Sanyukta Shaikh Chawla"" ]","[ ""Ram Madhvani"" ]","[ ""Sonam Kapoor"", ""Shabana Azmi"", ""Yogendra Ti...","[ ""Biography"", ""Drama"", ""Thriller"" ]",Neerja

In [15]:
in_movies = in_movies[['movie_id','title','overview','genres','cast','crew']]
display(in_movies.head(3))

,movie_id,title,overview,genres,cast,crew
0,tt5286444,Neerja,Neerja is the story of the courageous Neerja B...,"[ ""Biography"", ""Drama"", ""Thriller"" ]","[ ""Sonam Kapoor"", ""Shabana Azmi"", ""Yogendra Ti...","[ ""Ram Madhvani"" ]"
1,tt4434004,Udta Punjab,A story that revolves around drug abuse in the...,"[ ""Crime"", ""Drama"", ""Thriller"" ]","[ ""Alia Bhatt"", ""Shahid Kapoor"", ""Diljit Dosan...","[ ""Abhishek Chaubey"" ]"
2,tt0248126,Kabhi Khushi Kabhie Gham...,Yashvardhan Raichand lives a very wealthy life...,"[ ""Drama"", ""Musical"", ""Romance"" ]","[ ""Amitabh Bachchan"", ""Jaya Bhaduri"", ""Shah Ru...","[ ""Karan Johar"" ]"

## Data Cleaning

### Remove Null

In [16]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [17]:
movies.dropna(inplace=True)

In [18]:
movies.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

#### Indian movie

In [19]:
in_movies.isnull().sum()

movie_id       0
title          0
overview    1098
genres         0
cast           0
crew           0
dtype: int64

### Remove Duplicate Data

In [20]:
movies.duplicated().sum()

0

In [21]:
in_movies.duplicated().sum()

0

### Pre-processing Columns

#### Genres Column

Data provided as String

In [22]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

**Funtion to:**
1. Convert String -> List using ast library
2. Extract 'name' from dictionary
3. Append to a new List

In [23]:
import ast
def extract_list(str):
    L = []
    for i in ast.literal_eval(str):
        L.append(i['name'])
    return L

**apply(func, axis=0)**: Apply a function along an axis of the DataFrame.<br/>
axis: default 0<br/>
1. 0 or ‘index’: apply function to each column.
2. 1 or ‘columns’: apply function to each row.

In [24]:
movies['genres'] = movies['genres'].apply(extract_list)

In [25]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

#### Keywords Column

In [26]:
movies.keywords

0       [{"id": 1463, "name": "culture clash"}, {"id":...
1       [{"id": 270, "name": "ocean"}, {"id": 726, "na...
2       [{"id": 470, "name": "spy"}, {"id": 818, "name...
3       [{"id": 849, "name": "dc comics"}, {"id": 853,...
4       [{"id": 818, "name": "based on novel"}, {"id":...
                              ...
4804    [{"id": 5616, "name": "united states\u2013mexi...
4805                                                   []
4806    [{"id": 248, "name": "date"}, {"id": 699, "nam...
4807                                                   []
4808    [{"id": 1523, "name": "obsession"}, {"id": 224...
Name: keywords, Length: 4806, dtype: object

In [27]:
movies['keywords'] = movies['keywords'].apply(extract_list)

In [28]:
movies.head(3)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."

#### Cast Column
**Extract Top 3 'name' value (Actor name)**

In [29]:
movies['cast'][1]

'[{"cast_id": 4, "character": "Captain Jack Sparrow", "credit_id": "52fe4232c3a36847f800b50d", "gender": 2, "id": 85, "name": "Johnny Depp", "order": 0}, {"cast_id": 5, "character": "Will Turner", "credit_id": "52fe4232c3a36847f800b511", "gender": 2, "id": 114, "name": "Orlando Bloom", "order": 1}, {"cast_id": 6, "character": "Elizabeth Swann", "credit_id": "52fe4232c3a36847f800b515", "gender": 1, "id": 116, "name": "Keira Knightley", "order": 2}, {"cast_id": 12, "character": "William \\"Bootstrap Bill\\" Turner", "credit_id": "52fe4232c3a36847f800b52d", "gender": 2, "id": 1640, "name": "Stellan Skarsg\\u00e5rd", "order": 3}, {"cast_id": 10, "character": "Captain Sao Feng", "credit_id": "52fe4232c3a36847f800b525", "gender": 2, "id": 1619, "name": "Chow Yun-fat", "order": 4}, {"cast_id": 9, "character": "Captain Davy Jones", "credit_id": "52fe4232c3a36847f800b521", "gender": 2, "id": 2440, "name": "Bill Nighy", "order": 5}, {"cast_id": 7, "character": "Captain Hector Barbossa", "credit_id": "52fe4232c3a36847f800b519", "gender": 2, "id": 118, "name": "Geoffrey Rush", "order": 6}, {"cast_id": 14, "character": "Admiral James Norrington", "credit_id": "52fe4232c3a36847f800b535", "gender": 2, "id": 1709, "name": "Jack Davenport", "order": 7}, {"cast_id": 13, "character": "Joshamee Gibbs", "credit_id": "52fe4232c3a36847f800b531", "gender": 2, "id": 2449, "name": "Kevin McNally", "order": 8}, {"cast_id": 11, "character": "Lord Cutler Beckett", "credit_id": "52fe4232c3a36847f800b529", "gender": 2, "id": 2441, "name": "Tom Hollander", "order": 9}, {"cast_id": 19, "character": "Tia Dalma", "credit_id": "52fe4232c3a36847f800b549", "gender": 1, "id": 2038, "name": "Naomie Harris", "order": 10}, {"cast_id": 8, "character": "Governor Weatherby Swann", "credit_id": "52fe4232c3a36847f800b51d", "gender": 2, "id": 378, "name": "Jonathan Pryce", "order": 11}, {"cast_id": 37, "character": "Captain Teague Sparrow", "credit_id": "52fe4232c3a36847f800b5b3", "gender": 2, "id": 1430, "name": "Keith Richards", "order": 12}, {"cast_id": 16, "character": "Pintel", "credit_id": "52fe4232c3a36847f800b53d", "gender": 2, "id": 1710, "name": "Lee Arenberg", "order": 13}, {"cast_id": 15, "character": "Ragetti", "credit_id": "52fe4232c3a36847f800b539", "gender": 2, "id": 1711, "name": "Mackenzie Crook", "order": 14}, {"cast_id": 18, "character": "Lieutenant Theodore Groves", "credit_id": "52fe4232c3a36847f800b545", "gender": 2, "id": 4031, "name": "Greg Ellis", "order": 15}, {"cast_id": 55, "character": "Cotton", "credit_id": "57e28d2ec3a3681a01005b5c", "gender": 2, "id": 1715, "name": "David Bailie", "order": 16}, {"cast_id": 17, "character": "Marty", "credit_id": "52fe4232c3a36847f800b541", "gender": 2, "id": 4030, "name": "Martin Klebba", "order": 17}, {"cast_id": 57, "character": "Ian Mercer", "credit_id": "57e28d78c3a36808b900bf4f", "gender": 0, "id": 939, "name": "David Schofield", "order": 18}, {"cast_id": 62, "character": "Scarlett", "credit_id": "57e28ec5c3a3681a50005855", "gender": 1, "id": 2450, "name": "Lauren Maher", "order": 19}, {"cast_id": 63, "character": "Giselle", "credit_id": "57e28ed692514123f5005635", "gender": 1, "id": 2452, "name": "Vanessa Branch", "order": 20}, {"cast_id": 60, "character": "Mullroy", "credit_id": "57e28db2c3a3681a01005bc7", "gender": 2, "id": 1714, "name": "Angus Barnett", "order": 21}, {"cast_id": 59, "character": "Murtogg", "credit_id": "57e28da192514118f7006008", "gender": 0, "id": 1713, "name": "Giles New", "order": 22}, {"cast_id": 58, "character": "Tai Huang", "credit_id": "57e28d8ec3a3681a01005bab", "gender": 2, "id": 22075, "name": "Reggie Lee", "order": 23}, {"cast_id": 64, "character": "Henry Turner", "credit_id": "57e29119925141151100a6cc", "gender": 2, "id": 61259, "name": "Dominic Scott Kay", "order": 24}, {"cast_id": 39, "character": "Mistress Ching", "credit_id": "52fe4232c3a36847f800b5bd", "gender": 1, "id": 33500, "name": "Takayo Fischer", "order": 25}, {"cast_id": 40, "character": "Lieutenant Greitzer", "credit_id": "52fe4232c3a36847f800b5c1", "gender": 2, "id": 1224149, "name": "David Meunier", "order": 26}, {"cast_id": 49, "character": "Hadras", "credit_id": "56d1871c92514174680010cf", "gender": 2, "id": 429401, "name": "Ho-Kwan Tse", "order": 27}, {"cast_id": 56, "character": "Clacker", "credit_id": "57e28d4b92514125710055cb", "gender": 0, "id": 1123, "name": "Andy Beckwith", "order": 28}, {"cast_id": 51, "character": "Penrod", "credit_id": "56ec8c14c3a3682260003c53", "gender": 2, "id": 1056117, "name": "Peter Donald Badalamenti II", "order": 29}, {"cast_id": 61, "character": "Cotton\'s Parrot (voice)", "credit_id": "57e28dcc9251412463005678", "gender": 2, "id": 21700, "name": "Christopher S. Capp", "order": 30}, {"cast_id": 65, "character": "Captain Teague", "credit_id": "58bc2a37c3a368663003740b", "gender": 2, "id": 1430, "name": "Keith Richards", "order": 31}, {"cast_id": 66, "character": "Captain Jocard", "credit_id": "58bc2a8e925141609e03a179", "gender": 2, "id": 2603, "name": "Hakeem Kae-Kazim", "order": 32}, {"cast_id": 67, "character": "Captain Ammand", "credit_id": "58e2a21ac3a36872af00f9c2", "gender": 0, "id": 70577, "name": "Ghassan Massoud", "order": 33}]'

In [30]:
import ast
def extract_top3(str):
    L = []
    counter = 0
    for i in ast.literal_eval(str):
        if counter != 3:
            L.append(i['name'])
            counter+=1
        else:
            break
    return L

In [31]:
movies['cast'] = movies['cast'].apply(extract_top3)

In [32]:
movies.head(3)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."

#### Crew Column
**Extract 'job'=Director from the dictionary**

In [33]:
movies['crew'][0]

'[{"credit_id": "52fe48009251416c750aca23", "department": "Editing", "gender": 0, "id": 1721, "job": "Editor", "name": "Stephen E. Rivkin"}, {"credit_id": "539c47ecc3a36810e3001f87", "department": "Art", "gender": 2, "id": 496, "job": "Production Design", "name": "Rick Carter"}, {"credit_id": "54491c89c3a3680fb4001cf7", "department": "Sound", "gender": 0, "id": 900, "job": "Sound Designer", "name": "Christopher Boyes"}, {"credit_id": "54491cb70e0a267480001bd0", "department": "Sound", "gender": 0, "id": 900, "job": "Supervising Sound Editor", "name": "Christopher Boyes"}, {"credit_id": "539c4a4cc3a36810c9002101", "department": "Production", "gender": 1, "id": 1262, "job": "Casting", "name": "Mali Finn"}, {"credit_id": "5544ee3b925141499f0008fc", "department": "Sound", "gender": 2, "id": 1729, "job": "Original Music Composer", "name": "James Horner"}, {"credit_id": "52fe48009251416c750ac9c3", "department": "Directing", "gender": 2, "id": 2710, "job": "Director", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750ac9d9", "department": "Writing", "gender": 2, "id": 2710, "job": "Writer", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750aca17", "department": "Editing", "gender": 2, "id": 2710, "job": "Editor", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750aca29", "department": "Production", "gender": 2, "id": 2710, "job": "Producer", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750aca3f", "department": "Writing", "gender": 2, "id": 2710, "job": "Screenplay", "name": "James Cameron"}, {"credit_id": "539c4987c3a36810ba0021a4", "department": "Art", "gender": 2, "id": 7236, "job": "Art Direction", "name": "Andrew Menzies"}, {"credit_id": "549598c3c3a3686ae9004383", "department": "Visual Effects", "gender": 0, "id": 6690, "job": "Visual Effects Producer", "name": "Jill Brooks"}, {"credit_id": "52fe48009251416c750aca4b", "department": "Production", "gender": 1, "id": 6347, "job": "Casting", "name": "Margery Simkin"}, {"credit_id": "570b6f419251417da70032fe", "department": "Art", "gender": 2, "id": 6878, "job": "Supervising Art Director", "name": "Kevin Ishioka"}, {"credit_id": "5495a0fac3a3686ae9004468", "department": "Sound", "gender": 0, "id": 6883, "job": "Music Editor", "name": "Dick Bernstein"}, {"credit_id": "54959706c3a3686af3003e81", "department": "Sound", "gender": 0, "id": 8159, "job": "Sound Effects Editor", "name": "Shannon Mills"}, {"credit_id": "54491d58c3a3680fb1001ccb", "department": "Sound", "gender": 0, "id": 8160, "job": "Foley", "name": "Dennie Thorpe"}, {"credit_id": "54491d6cc3a3680fa5001b2c", "department": "Sound", "gender": 0, "id": 8163, "job": "Foley", "name": "Jana Vance"}, {"credit_id": "52fe48009251416c750aca57", "department": "Costume & Make-Up", "gender": 1, "id": 8527, "job": "Costume Design", "name": "Deborah Lynn Scott"}, {"credit_id": "52fe48009251416c750aca2f", "department": "Production", "gender": 2, "id": 8529, "job": "Producer", "name": "Jon Landau"}, {"credit_id": "539c4937c3a36810ba002194", "department": "Art", "gender": 0, "id": 9618, "job": "Art Direction", "name": "Sean Haworth"}, {"credit_id": "539c49b6c3a36810c10020e6", "department": "Art", "gender": 1, "id": 12653, "job": "Set Decoration", "name": "Kim Sinclair"}, {"credit_id": "570b6f2f9251413a0e00020d", "department": "Art", "gender": 1, "id": 12653, "job": "Supervising Art Director", "name": "Kim Sinclair"}, {"credit_id": "54491a6c0e0a26748c001b19", "department": "Art", "gender": 2, "id": 14350, "job": "Set Designer", "name": "Richard F. Mays"}, {"credit_id": "56928cf4c3a3684cff0025c4", "department": "Production", "gender": 1, "id": 20294, "job": "Executive Producer", "name": "Laeta Kalogridis"}, {"credit_id": "52fe48009251416c750aca51", "department": "Costume & Make-Up", "gender": 0, "id": 17675, "job": "Costume Design", "name": "Mayes C. Rubeo"}, {"credit_id": "52fe48009251416c750aca11", "department": "Camera", "gender": 2, "id": 18265, "job": "Director of Photography", "name": "Mauro Fiore"}, {"credit_id": "5449194d0e0a26748f001b39", "department": "Art", "gender": 0, "id": 42281, "job": "Set Designer", "name": "Scott Herbertson"}, {"credit_id": "52fe48009251416c750aca05", "department": "Crew", "gender": 0, "id": 42288, "job": "Stunts", "name": "Woody Schultz"}, {"credit_id": "5592aefb92514152de0010f5", "department": "Costume & Make-Up", "gender": 0, "id": 29067, "job": "Makeup Artist", "name": "Linda DeVetta"}, {"credit_id": "5592afa492514152de00112c", "department": "Costume & Make-Up", "gender": 0, "id": 29067, "job": "Hairstylist", "name": "Linda DeVetta"}, {"credit_id": "54959ed592514130fc002e5d", "department": "Camera", "gender": 2, "id": 33302, "job": "Camera Operator", "name": "Richard Bluck"}, {"credit_id": "539c4891c3a36810ba002147", "department": "Art", "gender": 2, "id": 33303, "job": "Art Direction", "name": "Simon Bright"}, {"credit_id": "54959c069251417a81001f3a", "department": "Visual Effects", "gender": 0, "id": 113145, "job": "Visual Effects Supervisor", "name": "Richard Martin"}, {"credit_id": "54959a0dc3a3680ff5002c8d", "department": "Crew", "gender": 2, "id": 58188, "job": "Visual Effects Editor", "name": "Steve R. Moore"}, {"credit_id": "52fe48009251416c750aca1d", "department": "Editing", "gender": 2, "id": 58871, "job": "Editor", "name": "John Refoua"}, {"credit_id": "54491a4dc3a3680fc30018ca", "department": "Art", "gender": 0, "id": 92359, "job": "Set Designer", "name": "Karl J. Martin"}, {"credit_id": "52fe48009251416c750aca35", "department": "Camera", "gender": 1, "id": 72201, "job": "Director of Photography", "name": "Chiling Lin"}, {"credit_id": "52fe48009251416c750ac9ff", "department": "Crew", "gender": 0, "id": 89714, "job": "Stunts", "name": "Ilram Choi"}, {"credit_id": "54959c529251416e2b004394", "department": "Visual Effects", "gender": 2, "id": 93214, "job": "Visual Effects Supervisor", "name": "Steven Quale"}, {"credit_id": "54491edf0e0a267489001c37", "department": "Crew", "gender": 1, "id": 122607, "job": "Dialect Coach", "name": "Carla Meyer"}, {"credit_id": "539c485bc3a368653d001a3a", "department": "Art", "gender": 2, "id": 132585, "job": "Art Direction", "name": "Nick Bassett"}, {"credit_id": "539c4903c3a368653d001a74", "department": "Art", "gender": 0, "id": 132596, "job": "Art Direction", "name": "Jill Cormack"}, {"credit_id": "539c4967c3a368653d001a94", "department": "Art", "gender": 0, "id": 132604, "job": "Art Direction", "name": "Andy McLaren"}, {"credit_id": "52fe48009251416c750aca45", "department": "Crew", "gender": 0, "id": 236696, "job": "Motion Capture Artist", "name": "Terry Notary"}, {"credit_id": "54959e02c3a3680fc60027d2", "department": "Crew", "gender": 2, "id": 956198, "job": "Stunt Coordinator", "name": "Garrett Warren"}, {"credit_id": "54959ca3c3a3686ae300438c", "department": "Visual Effects", "gender": 2, "id": 957874, "job": "Visual Effects Supervisor", "name": "Jonathan Rothbart"}, {"credit_id": "570b6f519251412c74001b2f", "department": "Art", "gender": 0, "id": 957889, "job": "Supervising Art Director", "name": "Stefan Dechant"}, {"credit_id": "570b6f62c3a3680b77007460", "department": "Art", "gender": 2, "id": 959555, "job": "Supervising Art Director", "name": "Todd Cherniawsky"}, {"credit_id": "539c4a3ac3a36810da0021cc", "department": "Production", "gender": 0, "id": 1016177, "job": "Casting", "name": "Miranda Rivers"}, {"credit_id": "539c482cc3a36810c1002062", "department": "Art", "gender": 0, "id": 1032536, "job": "Production Design", "name": "Robert Stromberg"}, {"credit_id": "539c4b65c3a36810c9002125", "department": "Costume & Make-Up", "gender": 2, "id": 1071680, "job": "Costume Design", "name": "John Harding"}, {"credit_id": "54959e6692514130fc002e4e", "department": "Camera", "gender": 0, "id": 1177364, "job": "Steadicam Operator", "name": "Roberto De Angelis"}, {"credit_id": "539c49f1c3a368653d001aac", "department": "Costume & Make-Up", "gender": 2, "id": 1202850, "job": "Makeup Department Head", "name": "Mike Smithson"}, {"credit_id": "5495999ec3a3686ae100460c", "department": "Visual Effects", "gender": 0, "id": 1204668, "job": "Visual Effects Producer", "name": "Alain Lalanne"}, {"credit_id": "54959cdfc3a3681153002729", "department": "Visual Effects", "gender": 0, "id": 1206410, "job": "Visual Effects Supervisor", "name": "Lucas Salton"}, {"credit_id": "549596239251417a81001eae", "department": "Crew", "gender": 0, "id": 1234266, "job": "Post Production Supervisor", "name": "Janace Tashjian"}, {"credit_id": "54959c859251416e1e003efe", "department": "Visual Effects", "gender": 0, "id": 1271932, "job": "Visual Effects Supervisor", "name": "Stephen Rosenbaum"}, {"credit_id": "5592af28c3a368775a00105f", "department": "Costume & Make-Up", "gender": 0, "id": 1310064, "job": "Makeup Artist", "name": "Frankie Karena"}, {"credit_id": "539c4adfc3a36810e300203b", "department": "Costume & Make-Up", "gender": 1, "id": 1319844, "job": "Costume Supervisor", "name": "Lisa Lovaas"}, {"credit_id": "54959b579251416e2b004371", "department": "Visual Effects", "gender": 0, "id": 1327028, "job": "Visual Effects Supervisor", "name": "Jonathan Fawkner"}, {"credit_id": "539c48a7c3a36810b5001fa7", "department": "Art", "gender": 0, "id": 1330561, "job": "Art Direction", "name": "Robert Bavin"}, {"credit_id": "539c4a71c3a36810da0021e0", "department": "Costume & Make-Up", "gender": 0, "id": 1330567, "job": "Costume Supervisor", "name": "Anthony Almaraz"}, {"credit_id": "539c4a8ac3a36810ba0021e4", "department": "Costume & Make-Up", "gender": 0, "id": 1330570, "job": "Costume Supervisor", "name": "Carolyn M. Fenton"}, {"credit_id": "539c4ab6c3a36810da0021f0", "department": "Costume & Make-Up", "gender": 0, "id": 1330574, "job": "Costume Supervisor", "name": "Beth Koenigsberg"}, {"credit_id": "54491ab70e0a267480001ba2", "department": "Art", "gender": 0, "id": 1336191, "job": "Set Designer", "name": "Sam Page"}, {"credit_id": "544919d9c3a3680fc30018bd", "department": "Art", "gender": 0, "id": 1339441, "job": "Set Designer", "name": "Tex Kadonaga"}, {"credit_id": "54491cf50e0a267483001b0c", "department": "Editing", "gender": 0, "id": 1352422, "job": "Dialogue Editor", "name": "Kim Foscato"}, {"credit_id": "544919f40e0a26748c001b09", "department": "Art", "gender": 0, "id": 1352962, "job": "Set Designer", "name": "Tammy S. Lee"}, {"credit_id": "5495a115c3a3680ff5002d71", "department": "Crew", "gender": 0, "id": 1357070, "job": "Transportation Coordinator", "name": "Denny Caira"}, {"credit_id": "5495a12f92514130fc002e94", "department": "Crew", "gender": 0, "id": 1357071, "job": "Transportation Coordinator", "name": "James Waitkus"}, {"credit_id": "5495976fc3a36811530026b0", "department": "Sound", "gender": 0, "id": 1360103, "job": "Supervising Sound Editor", "name": "Addison Teague"}, {"credit_id": "54491837c3a3680fb1001c5a", "department": "Art", "gender": 2, "id": 1376887, "job": "Set Designer", "name": "C. Scott Baker"}, {"credit_id": "54491878c3a3680fb4001c9d", "department": "Art", "gender": 0, "id": 1376888, "job": "Set Designer", "name": "Luke Caska"}, {"credit_id": "544918dac3a3680fa5001ae0", "department": "Art", "gender": 0, "id": 1376889, "job": "Set Designer", "name": "David Chow"}, {"credit_id": "544919110e0a267486001b68", "department": "Art", "gender": 0, "id": 1376890, "job": "Set Designer", "name": "Jonathan Dyer"}, {"credit_id": "54491967c3a3680faa001b5e", "department": "Art", "gender": 0, "id": 1376891, "job": "Set Designer", "name": "Joseph Hiura"}, {"credit_id": "54491997c3a3680fb1001c8a", "department": "Art", "gender": 0, "id": 1376892, "job": "Art Department Coordinator", "name": "Rebecca Jellie"}, {"credit_id": "544919ba0e0a26748f001b42", "department": "Art", "gender": 0, "id": 1376893, "job": "Set Designer", "name": "Robert Andrew Johnson"}, {"credit_id": "54491b1dc3a3680faa001b8c", "department": "Art", "gender": 0, "id": 1376895, "job": "Assistant Art Director", "name": "Mike Stassi"}, {"credit_id": "54491b79c3a3680fbb001826", "department": "Art", "gender": 0, "id": 1376897, "job": "Construction Coordinator", "name": "John Villarino"}, {"credit_id": "54491baec3a3680fb4001ce6", "department": "Art", "gender": 2, "id": 1376898, "job": "Assistant Art Director", "name": "Jeffrey Wisniewski"}, {"credit_id": "54491d2fc3a3680fb4001d07", "department": "Editing", "gender": 0, "id": 1376899, "job": "Dialogue Editor", "name": "Cheryl Nardi"}, {"credit_id": "54491d86c3a3680fa5001b2f", "department": "Editing", "gender": 0, "id": 1376901, "job": "Dialogue Editor", "name": "Marshall Winn"}, {"credit_id": "54491d9dc3a3680faa001bb0", "department": "Sound", "gender": 0, "id": 1376902, "job": "Supervising Sound Editor", "name": "Gwendolyn Yates Whittle"}, {"credit_id": "54491dc10e0a267486001bce", "department": "Sound", "gender": 0, "id": 1376903, "job": "Sound Re-Recording Mixer", "name": "William Stein"}, {"credit_id": "54491f500e0a26747c001c07", "department": "Crew", "gender": 0, "id": 1376909, "job": "Choreographer", "name": "Lula Washington"}, {"credit_id": "549599239251412c4e002a2e", "department": "Visual Effects", "gender": 0, "id": 1391692, "job": "Visual Effects Producer", "name": "Chris Del Conte"}, {"credit_id": "54959d54c3a36831b8001d9a", "department": "Visual Effects", "gender": 2, "id": 1391695, "job": "Visual Effects Supervisor", "name": "R. Christopher White"}, {"credit_id": "54959bdf9251412c4e002a66", "department": "Visual Effects", "gender": 0, "id": 1394070, "job": "Visual Effects Supervisor", "name": "Dan Lemmon"}, {"credit_id": "5495971d92514132ed002922", "department": "Sound", "gender": 0, "id": 1394129, "job": "Sound Effects Editor", "name": "Tim Nielsen"}, {"credit_id": "5592b25792514152cc0011aa", "department": "Crew", "gender": 0, "id": 1394286, "job": "CG Supervisor", "name": "Michael Mulholland"}, {"credit_id": "54959a329251416e2b004355", "department": "Crew", "gender": 0, "id": 1394750, "job": "Visual Effects Editor", "name": "Thomas Nittmann"}, {"credit_id": "54959d6dc3a3686ae9004401", "department": "Visual Effects", "gender": 0, "id": 1394755, "job": "Visual Effects Supervisor", "name": "Edson Williams"}, {"credit_id": "5495a08fc3a3686ae300441c", "department": "Editing", "gender": 0, "id": 1394953, "job": "Digital Intermediate", "name": "Christine Carr"}, {"credit_id": "55402d659251413d6d000249", "department": "Visual Effects", "gender": 0, "id": 1395269, "job": "Visual Effects Supervisor", "name": "John Bruno"}, {"credit_id": "54959e7b9251416e1e003f3e", "department": "Camera", "gender": 0, "id": 1398970, "job": "Steadicam Operator", "name": "David Emmerichs"}, {"credit_id": "54959734c3a3686ae10045e0", "department": "Sound", "gender": 0, "id": 1400906, "job": "Sound Effects Editor", "name": "Christopher Scarabosio"}, {"credit_id": "549595dd92514130fc002d79", "department": "Production", "gender": 0, "id": 1401784, "job": "Production Supervisor", "name": "Jennifer Teves"}, {"credit_id": "549596009251413af70028cc", "department": "Production", "gender": 0, "id": 1401785, "job": "Production Manager", "name": "Brigitte Yorke"}, {"credit_id": "549596e892514130fc002d99", "department": "Sound", "gender": 0, "id": 1401786, "job": "Sound Effects Editor", "name": "Ken Fischer"}, {"credit_id": "549598229251412c4e002a1c", "department": "Crew", "gender": 0, "id": 1401787, "job": "Special Effects Coordinator", "name": "Iain Hutton"}, {"credit_id": "549598349251416e2b00432b", "department": "Crew", "gender": 0, "id": 1401788, "job": "Special Effects Coordinator", "name": "Steve Ingram"}, {"credit_id": "54959905c3a3686ae3004324", "department": "Visual Effects", "gender": 0, "id": 1401789, "job": "Visual Effects Producer", "name": "Joyce Cox"}, {"credit_id": "5495994b92514132ed002951", "department": "Visual Effects", "gender": 0, "id": 1401790, "job": "Visual Effects Producer", "name": "Jenny Foster"}, {"credit_id": "549599cbc3a3686ae1004613", "department": "Crew", "gender": 0, "id": 1401791, "job": "Visual Effects Editor", "name": "Christopher Marino"}, {"credit_id": "549599f2c3a3686ae100461e", "department": "Crew", "gender": 0, "id": 1401792, "job": "Visual Effects Editor", "name": "Jim Milton"}, {"credit_id": "54959a51c3a3686af3003eb5", "department": "Visual Effects", "gender": 0, "id": 1401793, "job": "Visual Effects Producer", "name": "Cyndi Ochs"}, {"credit_id": "54959a7cc3a36811530026f4", "department": "Crew", "gender": 0, "id": 1401794, "job": "Visual Effects Editor", "name": "Lucas Putnam"}, {"credit_id": "54959b91c3a3680ff5002cb4", "department": "Visual Effects", "gender": 0, "id": 1401795, "job": "Visual Effects Supervisor", "name": "Anthony \'Max\' Ivins"}, {"credit_id": "54959bb69251412c4e002a5f", "department": "Visual Effects", "gender": 0, "id": 1401796, "job": "Visual Effects Supervisor", "name": "John Knoll"}, {"credit_id": "54959cbbc3a3686ae3004391", "department": "Visual Effects", "gender": 2, "id": 1401799, "job": "Visual Effects Supervisor", "name": "Eric Saindon"}, {"credit_id": "54959d06c3a3686ae90043f6", "department": "Visual Effects", "gender": 0, "id": 1401800, "job": "Visual Effects Supervisor", "name": "Wayne Stables"}, {"credit_id": "54959d259251416e1e003f11", "department": "Visual Effects", "gender": 0, "id": 1401801, "job": "Visual Effects Supervisor", "name": "David Stinnett"}, {"credit_id": "54959db49251413af7002975", "department": "Visual Effects", "gender": 0, "id": 1401803, "job": "Visual Effects Supervisor", "name": "Guy Williams"}, {"credit_id": "54959de4c3a3681153002750", "department": "Crew", "gender": 0, "id": 1401804, "job": "Stunt Coordinator", "name": "Stuart Thorp"}, {"credit_id": "54959ef2c3a3680fc60027f2", "department": "Lighting", "gender": 0, "id": 1401805, "job": "Best Boy Electric", "name": "Giles Coburn"}, {"credit_id": "54959f07c3a3680fc60027f9", "department": "Camera", "gender": 2, "id": 1401806, "job": "Still Photographer", "name": "Mark Fellman"}, {"credit_id": "54959f47c3a3681153002774", "department": "Lighting", "gender": 0, "id": 1401807, "job": "Lighting Technician", "name": "Scott Sprague"}, {"credit_id": "54959f8cc3a36831b8001df2", "department": "Visual Effects", "gender": 0, "id": 1401808, "job": "Animation Director", "name": "Jeremy Hollobon"}, {"credit_id": "54959fa0c3a36831b8001dfb", "department": "Visual Effects", "gender": 0, "id": 1401809, "job": "Animation Director", "name": "Orlando Meunier"}, {"credit_id": "54959fb6c3a3686af3003f54", "department": "Visual Effects", "gender": 0, "id": 1401810, "job": "Animation Director", "name": "Taisuke Tanimura"}, {"credit_id": "54959fd2c3a36831b8001e02", "department": "Costume & Make-Up", "gender": 0, "id": 1401812, "job": "Set Costumer", "name": "Lilia Mishel Acevedo"}, {"credit_id": "54959ff9c3a3686ae300440c", "department": "Costume & Make-Up", "gender": 0, "id": 1401814, "job": "Set Costumer", "name": "Alejandro M. Hernandez"}, {"credit_id": "5495a0ddc3a3686ae10046fe", "department": "Editing", "gender": 0, "id": 1401815, "job": "Digital Intermediate", "name": "Marvin Hall"}, {"credit_id": "5495a1f7c3a3686ae3004443", "department": "Production", "gender": 0, "id": 1401816, "job": "Publicist", "name": "Judy Alley"}, {"credit_id": "5592b29fc3a36869d100002f", "department": "Crew", "gender": 0, "id": 1418381, "job": "CG Supervisor", "name": "Mike Perry"}, {"credit_id": "5592b23a9251415df8001081", "department": "Crew", "gender": 0, "id": 1426854, "job": "CG Supervisor", "name": "Andrew Morley"}, {"credit_id": "55491e1192514104c40002d8", "department": "Art", "gender": 0, "id": 1438901, "job": "Conceptual Design", "name": "Seth Engstrom"}, {"credit_id": "5525d5809251417276002b06", "department": "Crew", "gender": 0, "id": 1447362, "job": "Visual Effects Art Director", "name": "Eric Oliver"}, {"credit_id": "554427ca925141586500312a", "department": "Visual Effects", "gender": 0, "id": 1447503, "job": "Modeling", "name": "Matsune Suzuki"}, {"credit_id": "551906889251415aab001c88", "department": "Art", "gender": 0, "id": 1447524, "job": "Art Department Manager", "name": "Paul Tobin"}, {"credit_id": "5592af8492514152cc0010de", "department": 

In [34]:
import ast
def extract_director(str):
    L = []
    for i in ast.literal_eval(str):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [35]:
movies['crew'] = movies['crew'].apply(extract_director)

In [36]:
movies.head(3)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]

#### Overview

In [37]:
movies['overview'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [38]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [39]:
movies.head(3)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]

### Indian Movie Column Processing

#### Processing Indian Movies

In [40]:
display(in_movies.head())

,movie_id,title,overview,genres,cast,crew
0,tt5286444,Neerja,Neerja is the story of the courageous Neerja B...,"[ ""Biography"", ""Drama"", ""Thriller"" ]","[ ""Sonam Kapoor"", ""Shabana Azmi"", ""Yogendra Ti...","[ ""Ram Madhvani"" ]"
1,tt4434004,Udta Punjab,A story that revolves around drug abuse in the...,"[ ""Crime"", ""Drama"", ""Thriller"" ]","[ ""Alia Bhatt"", ""Shahid Kapoor"", ""Diljit Dosan...","[ ""Abhishek Chaubey"" ]"
2,tt0248126,Kabhi Khushi Kabhie Gham...,Yashvardhan Raichand lives a very wealthy life...,"[ ""Drama"", ""Musical"", ""Romance"" ]","[ ""Amitabh Bachchan"", ""Jaya Bhaduri"", ""Shah Ru...","[ ""Karan Johar"" ]"
3,tt0347304,Kal Ho Naa Ho,"Naina, an introverted, perpetually depressed g...","[ ""Comedy"", ""Drama"", ""Romance"" ]","[ ""Shah Rukh Khan"", ""Preity Zinta"", ""Saif Ali ...","[ ""Nikkhil Advani"" ]"
4,tt3043252,Parched,'Parched' is a story about women set in the he...,"[ ""Drama"" ]","[ ""Tannishtha Chatterjee"", ""Radhika Apte"", ""Le...","[ ""Leena Yadav"" ]"

In [41]:
in_movies['cast'].dtype

dtype('O')

In [42]:
import ast
def extract_list_in(str):
    L = []
    for i in ast.literal_eval(str):
        L.append(i)
    return L

In [43]:
in_movies['genres'] = in_movies['genres'].apply(extract_list_in)
in_movies['crew'] = in_movies['crew'].apply(extract_list_in)

In [44]:
def extract_top3_in(str):
    L = []
    counter = 0
    for i in ast.literal_eval(str):
        if counter != 3:
            L.append(i)
            counter+=1
        else:
            break
    return L

In [45]:
in_movies['cast'] = in_movies['cast'].apply(extract_top3_in)

In [46]:
in_movies['overview'] = in_movies['overview'].str.split(' ')

In [47]:
in_movies

,movie_id,title,overview,genres,cast,crew
0,tt5286444,Neerja,"[Neerja, is, the, story, of, the, courageous, ...","[Biography, Drama, Thriller]","[Sonam Kapoor, Shabana Azmi, Yogendra Tikku]",[Ram Madhvani]
1,tt4434004,Udta Punjab,"[A, story, that, revolves, around, drug, abuse...","[Crime, Drama, Thriller]","[Alia Bhatt, Shahid Kapoor, Diljit Dosanjh]",[Abhishek Chaubey]
2,tt0248126,Kabhi Khushi Kabhie Gham...,"[Yashvardhan, Raichand, lives, a, very, wealth...","[Drama, Musical, Romance]","[Amitabh Bachchan, Jaya Bhaduri, Shah Rukh Khan]",[Karan Johar]
3,tt0347304,Kal Ho Naa Ho,"[Naina,, an, introverted,, perpetually, depres...","[Comedy, Drama, Romance]","[Shah Rukh Khan, Preity Zinta, Saif Ali Khan]",[Nikkhil Advani]
4,tt3043252,Parched,"['Parched', is, a, story, about, women, set, i...",[Drama],"[Tannishtha Chatterjee, Radhika Apte, Lehar Khan]",[Leena Yadav]
...,...,...,...,...,...,...
2845,tt0308793,Ranadheera,NaN,[Crime],"[V. Ravichandran, Kushboo, Anant Nag]",[V. Ravichandran]
2846,tt3006508,Myna,NaN,[Romance],"[Chethan Kumar, Nithya Menon, Sarath Kumar]",[Nagashekar]
2847,tt5348692,Chaddi Dosth,"[The, plot, is, simple., Ranganna, (Rangayana,...","[Comedy, Drama]","[Rangayana Raghu, Sadhu Kokila, Avinash]",[Pc Shekhar]
2848,tt3171754,Shravani Subramanya,NaN,"[Comedy, Romance]","[Ganesh, Amulya, Anant Nag]",[Manju Swaraj]
2849,tt0231455,Dharmasere,NaN,[],[],[S.R. Puttana Kanagal]

#### Merge Indian datasets with Rest

In [48]:
in_movies.head(1)

,movie_id,title,overview,genres,cast,crew
0,tt5286444,Neerja,"[Neerja, is, the, story, of, the, courageous, ...","[Biography, Drama, Thriller]","[Sonam Kapoor, Shabana Azmi, Yogendra Tikku]",[Ram Madhvani]

In [49]:
movies = pd.concat([movies, in_movies], ignore_index=True)
movies

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]
...,...,...,...,...,...,...,...
7651,tt0308793,Ranadheera,NaN,[Crime],NaN,"[V. Ravichandran, Kushboo, Anant Nag]",[V. Ravichandran]
7652,tt3006508,Myna,NaN,[Romance],NaN,"[Chethan Kumar, Nithya Menon, Sarath Kumar]",[Nagashekar]
7653,tt5348692,Chaddi Dosth,"[The, plot, is, simple., Ranganna, (Rangayana,...","[Comedy, Drama]",NaN,"[Rangayana Raghu, Sadhu Kokila, Avinash]",[Pc Shekhar]
7654,tt3171754,Shravani Subramanya,NaN,"[Comedy, Romance]",NaN,"[Ganesh, Amulya, Anant Nag]",[Manju Swaraj]
7655,tt0231455,Dharmasere,NaN,[],NaN,[],[S.R. Puttana Kanagal]

**Filling Nan values with blank string for creation of tags**

In [68]:
movies.isna().sum()

movie_id       0
title          0
overview    1098
genres         0
keywords    2850
cast           0
crew           0
dtype: int64

In [69]:
movies.fillna('', inplace=True)

In [70]:
movies.isna().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

## Tags Creation

### Space Removal
**Remove space between words to identity them as a single entity to create tag.**<br/>
For e.g,<br/>
Souma Dey = 2 tags<br>
Souma Das = 2 tags<br>
so, which Souma to pick?

In [71]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])
movies['overview'] = movies['overview'].apply(lambda x:[i.replace(" ","") for i in x])

In [72]:
movies

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]
...,...,...,...,...,...,...,...
7651,tt0308793,Ranadheera,[],[Crime],[],"[V.Ravichandran, Kushboo, AnantNag]",[V.Ravichandran]
7652,tt3006508,Myna,[],[Romance],[],"[ChethanKumar, NithyaMenon, SarathKumar]",[Nagashekar]
7653,tt5348692,Chaddi Dosth,"[The, plot, is, simple., Ranganna, (Rangayana,...","[Comedy, Drama]",[],"[RangayanaRaghu, SadhuKokila, Avinash]",[PcShekhar]
7654,tt3171754,Shravani Subramanya,[],"[Comedy, Romance]",[],"[Ganesh, Amulya, AnantNag]",[ManjuSwaraj]
7655,tt0231455,Dharmasere,[],[],[],[],[S.R.PuttanaKanagal]

### Tags Column

In [73]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [74]:
movies.head(3)

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."

## Reforming Dataframe
**Columns**

1. movie_id <br>
2. title <br>
3. Tags (genre + overview + cast[Top 3], + crew[Director]) <br>

In [75]:
new_movies = movies[['movie_id','title','tags']]

In [76]:
new_movies.head()

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

### Tags List -> String

In [77]:
new_movies['tags'] = movies['tags'].apply(lambda x:" ".join(x))

In [78]:
new_movies['tags']

0       In the 22nd century, a paraplegic Marine is di...
1       Captain Barbossa, long believed to be dead, ha...
2       A cryptic message from Bond’s past sends him o...
3       Following the death of District Attorney Harve...
4       John Carter is a war-weary, former military ca...
                              ...
7651    Crime V.Ravichandran Kushboo AnantNag V.Ravich...
7652    Romance ChethanKumar NithyaMenon SarathKumar N...
7653    The plot is simple. Ranganna (Rangayana Raghu)...
7654    Comedy Romance Ganesh Amulya AnantNag ManjuSwaraj
7655                                   S.R.PuttanaKanagal
Name: tags, Length: 7656, dtype: object

**Lowercase**

In [79]:
new_movies['tags'] = new_movies['tags'].apply(lambda x:x.lower())

In [80]:
new_movies

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."
...,...,...,...
7651,tt0308793,Ranadheera,crime v.ravichandran kushboo anantnag v.ravich...
7652,tt3006508,Myna,romance chethankumar nithyamenon sarathkumar n...
7653,tt5348692,Chaddi Dosth,the plot is simple. ranganna (rangayana raghu)...
7654,tt3171754,Shravani Subramanya,comedy romance ganesh amulya anantnag manjuswaraj
7655,tt0231455,Dharmasere,s.r.puttanakanagal

### Stemming words with NLTK
**Stemming** is the process of producing morphological variants of a root/base word.<br>
For e.g,<br>
1. "likes"
2. "liked"
3. "likely"
4. "liking"<br>

Root Word: 'like'

#### Library (NLTK)
#### Function stem(string)
**Output:** String of stemmed words

#### Porter Stemmer

In [81]:
# from nltk.stem.porter import PorterStemmer
# ps = PorterStemmer()

In [82]:
# def stemPS(text):
#     L = []
#     for i in text.split():
#         L.append(ps.stem(i))
#     string = " ".join(L)
#     return string

#### Snowball Stemmer

In [83]:
from nltk.stem.snowball import SnowballStemmer
sb = SnowballStemmer(language='english')

In [84]:
def stem(text):
    L = []
    for i in text.split():
        L.append(sb.stem(i))
    string = " ".join(L)
    return string

In [85]:
# with pd.option_context('display.max_colwidth', None):
#     display(new_movies['tags'].apply(stemPS))
# new_movies['tags'].apply(stemPS)

In [86]:
# with pd.option_context('display.max_colwidth', None):
#     display(new_movies['tags'].apply(stem))
# new_movies['tags'].apply(stem)

In [87]:
new_movies['tags'] = new_movies['tags'].apply(stem)

In [88]:
new_movies.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, has ..."
2,206647,Spectre,a cryptic messag from bond past send him on a ...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."

# Model Building

## Text Vectorization

**Technique: Bag Of Words**<br>
1. Bag all words (All tags of 1 movie as one group)
2. Calculate the most commonly used words from the bag (Numerically)
3. Then Convert and plot as a Vector
4. Check distance from the choosen vector and suggest nearest vector

**sklearn.feature_extraction.text.CountVectorizer**  Class that converts a collection of text documents to a matrix of token counts.

### Library (sklearn, Count Verctorizer)

In [89]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=30000, stop_words='english')
vector_matrix = cv.fit_transform(new_movies['tags'])

In [90]:
vector_matrix.shape

(7656, 30000)

In [91]:
# np.set_printoptions(threshold=np.inf)
# print(cv.get_feature_names_out())
# cv.get_feature_names_out()

### Library (sklearn, TF-IDF)
**TF-IDF (Term Frequency - Inverse Document Frequency)**

When to Choose:
- **CountVectorizer** if the absolute frequency of words is important and you want a simple representation of word counts.

- **TfidfVectorizer** if you want to consider the importance of words in the entire corpus and want to downweight common words that appear in many documents.

In [92]:
# from sklearn.feature_extraction.text import TfidfVectorizer
# tf = TfidfVectorizer(stop_words = 'english', dtype=np.float32)
# vector_matrix = tf.fit_transform(new_movies['tags'])

In [93]:
# vector_matrix

In [94]:
# vector_matrix.shape

In [95]:
# tf.get_feature_names_out()

**Why Count Vectorizer is choosen over TDIDF**
- **Sparsity of TF-IDF matrices:** TF-IDF matrices are typically sparse, especially in scenarios with large vocabularies and short documents. This sparsity can lead to challenges in capturing meaningful relationships between movies, especially when the dataset is relatively small.
- **TF-IDF may lose local context:** TF-IDF, by focusing on the importance of individual terms, might lose some of this local context compared to Count Vectorization.
- **Challenges in small datasets:** In scenarios with small datasets, TF-IDF might not have enough information to effectively capture term importance and might be more prone to overfitting or underfitting compared to simpler methods like Count Vectorization.
- **TF-IDF treats terms independently:** While TF-IDF considers the importance of terms, it treats them independently of each other. In movie recommendations, understanding the relationships and co-occurrences of terms might be important, and Count Vectorization can capture this information.

## Similarity Measure

**Cosine similarity** is the cosine of the angle between the vectors.<br>
Distance inversely proportional to similarity.<br>
Values: 0 to 1 (1 : most similar, 0 : not so similar)

### Library (Cosine_similarity)

In [96]:
from sklearn.metrics.pairwise import cosine_similarity

Distance of a movie from all other movies.

In [97]:
similarity = cosine_similarity(vector_matrix)

In [98]:
# Sparse matrix
similarity.shape

(7656, 7656)

In [99]:
similarity[0]

array([1.        , 0.06952347, 0.06952347, ..., 0.        , 0.06388766,
       0.        ])

In [100]:
similarity[1]

array([0.06952347, 1.        , 0.05263158, ..., 0.03244428, 0.        ,
       0.        ])

In [101]:
similarity

array([[1.        , 0.06952347, 0.06952347, ..., 0.        , 0.06388766,
        0.        ],
       [0.06952347, 1.        , 0.05263158, ..., 0.03244428, 0.        ,
        0.        ],
       [0.06952347, 0.05263158, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.03244428, 0.        , ..., 1.        , 0.08944272,
        0.        ],
       [0.06388766, 0.        , 0.        , ..., 0.08944272, 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

# Recommend Function

In [102]:
def recommend(movie):
    movie_index = new_movies[new_movies['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    for i in movies_list:
        print(new_movies.iloc[i[0]].title)

In [103]:
recommend('Superman')

Superman II
Superman Returns
Superman IV: The Quest for Peace
Superman III
Man of Steel

In [104]:
recommend('Harry Potter and the Half-Blood Prince')

Harry Potter and the Order of the Phoenix
Harry Potter and the Goblet of Fire
Harry Potter and the Prisoner of Azkaban
Harry Potter and the Chamber of Secrets
Harry Potter and the Philosopher's Stone

In [105]:
recommend('Toy Story')

Toy Story 2
Toy Story 3
The 40 Year Old Virgin
How to Lose a Guy in 10 Days
Stuart Little 2

In [106]:
recommend('Gangs of Wasseypur')

Kanha
Amidst the Devil's Wings
India's Daughter
Laal Rang
Sanakeithel

# Model dump

**Why zstandard?**
- It offers a good balance between compression speed and ratio.
- It supports wide range of compression levels (0-22).
- LZ4 is faster than Zstandard, but achieving higher compression ratios without sacrificing too much speed is important.

In [112]:
import zstandard as zstd
import pickle
import os

def compress__zstd(title, model, compression_level=17):
    # Serialize the model using pickle
    serialized_model = pickle.dumps(model, protocol=pickle.HIGHEST_PROTOCOL)

    # Compress the serialized model using zstd
    cctx = zstd.ZstdCompressor(level=compression_level)
    compressed_data = cctx.compress(serialized_model)

    # Save the compressed data to a file
    file_path = os.path.join('data/pkl_data', title + '.zstd')
    with open(file_path, 'wb') as f:
        f.write(compressed_data)

In [113]:
compress__zstd('movies_df', new_movies)

In [114]:
compress__zstd('similarity', similarity)

In [107]:
# import pickle
# import bz2file as bz2
# import os

In [108]:
# def compressed_pickle(title, data):
#     # Create the full path by joining the notebook directory and the file title
#     file_path = os.path.join('data/pkl_data', title + '.zlib')
    
#     with bz2.BZ2File(file_path, 'w', compresslevel=9) as f:
#         pickle.dump(data, f)

In [109]:
# compressed_pickle('movies_df', new_movies)

In [110]:
# compressed_pickle('similarity', similarity)

In [111]:
# import lz4.frame
# import pickle

# def compress(title, model):
#     # Compress the model data using lz4
#     compressed_data = lz4.frame.compress((pickle.dumps(model)), compression_level=16)

#     # Write the compressed data to a file
#     file_path = os.path.join('data/pkl_data', title + '.lz4')
#     with open(file_path, 'wb') as f:
#         f.write(compressed_data)